<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">

    <br/>
    <br/>
    <a href="/usuarios/crear_usuario" class="btn btn-primary" type="button">Crear usuario</a>
    <br/>
    <br>

        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>EMAIL</th>
                    <th>TELEFONO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
    
                 <% for(let usuario=0; usuario <usuarios_mostrar.length; usuario++ ) { %>
                 
                    <tr>
                        <td> <%=usuarios_mostrar[usuario].idUSUARIOS %> </td>
                        <td> <%=usuarios_mostrar[usuario].Nombres %> </td>
                        <td> <%=usuarios_mostrar[usuario].Apellidos %> </td></td>
                        <td> <%=usuarios_mostrar[usuario].Correo %> </td> </td>
                        <td> <%=usuarios_mostrar[usuario].Telefono %> </td> </td>
                        <td> EDITAR | BORRAR </td>
                    </tr>
    
                 <% } %>
    
                
            </tbody>
        </table>
        
    </div>
    
</body>
</html>